
  <div class="m-1">
    
  <div class="card m-2 overflow-hidden mb-3 carousel-item active">

    <div class="product-img overflow-hidden d-flex justify-content-center align-itenms-center m-4">

        <img class="img-fluid rounded-start" [src]="products.imgurl" alt="">

    </div>

  <div>
    <div class="cardbody ">

        <h3 class="card-title overflow-hidden mb-1">{{products.brand}}</h3>
        <p class="card-subtitle overflow-hidden mb-1">{{products.title}}</p>

    </div>
   
  </div>

</div>
  </div>

