<!-- <footer class="w-100 h-100 bg-light my-shadow d-flex justify-content-around align-itenms-center">
    <div>
        <span class="me-3">
            Made by
        </span>
        <span class="fw-bold fst-italic">Ishwar Bade</span>
    </div>
    <div>
        <span>Created in; Jully 23</span>
    </div>
    <div>
        <span>&COPY;Copyright 2023</span>
    </div>
</footer> -->

<div class="d-flex justify-content-center align-itenms-center mt-4">
<mat-divider></mat-divider>
  <div class="row">
        <div class=" d-flex justify-content-between">

            <div class="footer col-lg-3 col-md-6">

                <h3 class="font-semibold text-gray ">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Bloge</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">Partners</p>

            </div>

            <div class="footer col-lg-3 col-md-6">

                <h3 class=" font-semibold text-gray">Solution</h3>
                <p class="mb-2">Solution</p>
                <p class="mb-2">Marketing</p>
                <p class="mb-2">Analytics</p>
                <p class="mb-2">Commerce</p>
                <p class="mb-2">Insights</p>
                <p class="mb-2">Support</p>


            </div>


            <div class="footer col-lg-2 col-md-6">

                <h3 class="text-gray">Legal</h3>
                <p class="mb-2">Claim</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>

            </div>

        </div>
        <div class="pt-10 text-center text-gray mt-2">

            <p>&copy; 2023 My Website. All fights reserved. </p>
            <p>Made by Me.</p>
            <p>
                Design made by <a class="text-gray underline" target="_blank" rel="noopener
                noreferrer">
                 Ishwar 
            </a>
            from
            <a class="text-gray underline" target="_blank"  rel="noopener
            noreferrer">
             www.Shopingpoint.com 
        </a>
            </p>

        </div>
            
  </div>

    </div>
