<div class=" m-2 row w-100">

    <div class="productCard">
        <div class=" product-card-img  cursor-pointer d-flex justify-content-around " *ngFor="let product of item">

            <div class="d-flex align-items-center justify-content-center p-3 col-2">
             <img src="../../../../assets/images/mobiles/iphone.jpg" alt="Product Image">
            </div>
         <div class="textPart p-2 m-3 col-4">
 
             <div class="pt-10 ">
 
                 <p class="opacity-80">{{product.brand}}</p>
                 <p>{{product.name}}</p>
                 <p>{{product.description}}</p>
 
             </div>
 
             <div class="d-flex flex-wrap space-x-2 align-items-center px-1 ">
 
                 <p class="font-weight-bold text-success text-decoration-line-through ">₹110000</p>
                 <p class="text-gray px-1 ">₹{{product.price}}</p>
                 <p class="px-1">5% off</p>
 
             </div>
           
          
 
         </div>
         <div class="card-footer d-grid text-center col-5">
            <button class="btn btn-outline-success mt-3" (click)="navigateTo()" >Update Product</button>  
            <button class="btn btn-outline-danger mt-3" (click)="deleteItem()">Delete Product</button>  

        </div>
       
         
     </div>
    </div>

 

</div>

<div *ngIf="item">
    <h2>Item Details</h2>
    <p><strong>ID:</strong> {{ item.id }}</p>
    <p><strong>Name:</strong> <input [(ngModel)]="item.name" /></p>
    <p><strong>Description:</strong> <input [(ngModel)]="item.description" /></p>
    <button (click)="updateItem()">Update</button>
    <button (click)="deleteItem()">Delete</button>
  </div>
  
