 <!-- <div class="p-3 shadow-lg mt-20">

    <div class="d-flex align-itenms-center" >

        <div class="cart-item">

            <img class="cart-item-img" alt="Cart Product Image">

        </div>

         <div class="cart-item-info p-3">

            <p>{{product.name}}</p>
            <p class="text-gray">{{product.color}}</p>
            <div class="d-flex pricing aling-items-center pt-3">

                <p class="text-gray ">₹{{product.price}}</p>
                <p class="font-semibold text-lg text-decoration-line-through ">₹4999</p>
                  <p class="text-success font-semibold ">10%</p>
           

            </div>

        </div>  

    </div>

</div>

<div class="d-flex align-itenms-center justify-content-between mb-4 pt-2">

    <div class="d-flex align-itenms-center space-x-2">

        <div class="example-button-container">

            <button mat-mini-fab color="accent" (click)="updateCartItem(-1)" [disabled]="true">
                <mat-icon>remove</mat-icon>
            </button>

        </div>
        <span class="quantity ">
            1

        </span>

        <div class="example-button-container">

            <button mat-mini-fab color="accent" (click)="updateCartItem(+1)" [disabled]="false">
                <mat-icon>add</mat-icon>
            </button>

        </div>


    </div >
    <div *ngFor="let product of cart; let last=last,let i = index">
    <button  (click)="removeFromCart(i)" color="accent" mat-stroked-button>Remove</button>
</div>

</div>  -->