<div class="box w-100">

    <div class="row text-dark d-flex align-items-center justify-content-center">

        <div class="col-lg-5 col-sm-12">
            
        <div class="order-card-img d-flex align-items-center justify-content-center w-100 mb-3 col-6">
            
            <img src="../../assets/images/mobiles/iphone.jpg" alt="">

            <div class="col-6">

                <p class="font-weight-bold">Product title</p>
                <p >Color:Gray</p>

            </div>

        </div>

        </div>


        <!-- <div class="col-lg-3 col-sm-3">

            <p class="font-semibold text-lg">-499</p>

        </div> -->
        <div class="col-lg-7 col-sm-6 text-center">
            <p class="font-semibold text-lg">Expected Delivery On Dec 12</p>
            <p class="text-sm">Your item has been delivered</p>
           

        </div>

    </div>

</div>