<div class="container">

    <div class="row gap-3 d-flex">

        <div class="col-lg-3 col-sm-12">
            <div class="product-review-img">
                
                <img class="w-100 h-100 rounded-100" 
                src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_1280.png" 
                alt="">

            </div>

        </div>

        <div class="col-lg-8 col-sm-12">

            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">ishwar</p>
                    <p class="opacity-70"> october 2,2023</p>
                </div>
                <div>
                    <app-star-rating/>
                </div>
                <p>
                   goos product is available
                </p>

            </div>

        </div>

    </div>
     
</div>
