<div class="grid-view" >
<div class="card text-center">
    <div class="card-header fw-bold fs-5 text-success">Mobile
    </div>
    <div class="col-md-4 overflow-hidden d-flex justify-content-center align-itenms-center">
        <img src="../../assets/images/mobiles/iphone.jpg" alt="product image" class="img-fluid rounded-start"
      
       >
    </div>
    <div class="card-body ">
        <h5 class="card-title title">i Phone 14 pro max</h5>
        <h6 class="card-subtitle my-2 text-primary">12 Product are available.</h6>
        <p class="card-text description">Description</p>
    </div>
    <div class="card-body">
        <h5 class="card-title text-success">  1,06,999
            <span class="text-primary">-20%</span>
        </h5>
        <h6 class="card-subtitle text-danger text-decoration-line-through"> 1,29,999</h6>

    </div>
    <div class="card-footer d-grid gap-2">
        <button class="btn btn-outline-success" >Add to cart</button>
    </div>

</div>



</div>
<div class="list-view">
    <div class="card">
        <div class="row">
            <div class="col-md-4 overflow-hidden d-flex justify-content-center align-itenms-center">
                <img src="../../assets/images/mobiles/oneplus11.jpg" class="img-fluid rounded-start" alt="product image"
              >
            </div>
            <div class="col d-flex flex-column">
                <div class="card-header text-center">Mobile 

                </div>
                
                <div class="card-body">
                    <h5 class="card-title title">oneplus11</h5>
                    <p class="card-text description">Primium Product</p>
                    <h6 class="card-subtitle mb-3 text-primary">12 products are available</h6>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-muted">Pricing</h4>
                    <h2 class="card-text text-success"> 47,999
                        <span class="text-primary">-20%</span>
                    </h2>
                    <h5 class="card-subtitle text-danger text-decoration-line-through">59,999 </h5>
                </div>

                <div class="car-footer text-muted d-grid gap-2">
                    <button class="btn btn-outline-success" type="button">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cart-item-view " *ngIf="view ==='prevcartitem'">
    <div class="card text-center">
        <div class="overflow-hidden d-flex justify-content-center align-itenms-center">
            <img src="../../assets/images/mobiles/iphone.jpg" class="card-img-top" alt=""
           >
        </div>
        <div class="card-body ">
            <h5 class="card-title title">M0bile</h5>
        </div>
    </div>
</div>