
        <!-----------imgage slider panal --->

    <div class="main-slider w-100">

        <app-main-slider/>
    
    </div>
    
    <!-----------product slider panal --->
    <div class="product-slider">
    
        <app-product-slider title="Samsung Mobiles" [products]="samsung"/>
        <app-product-slider title="Mi Mobiles" [products]="mi"/>
        <app-product-slider title="Apple Mobiles" [products]="apple"/>
        <app-product-slider title="OPPO Mobiles" [products]="oppo"/>
        <app-product-slider title="VIVO Mobiles" [products]="vivo"/>
        <app-product-slider title="Motrola Mobiles" [products]="motrola"/>
        <app-product-slider title="One Plus Mobiles" [products]="oneplus"/>
    
    </div>


<!-- 
<div class="my-container mx-auto">
    <div class="mb-4 my-shadow my-rounded-corner overflow-hidden" >
        <div class="product-baner position-relative">
           <div class="my-container m-5">
            <img src="../../assets/banner1.jpg" class="w-100" alt="baner image">
            <button class="btn btn-outline-light btn-lg btn-1" type="button" routerLink="/products">Shop Now</button>
           </div>

            <div class="my-shadow my-rounded-corner m-5">
                <img src="../../assets/banner2.png" class="w-100" alt="baner img">
                <button class="btn btn-outline-primary btn-lg btn-2" type="button" routerLink="/products">Shop Now</button>

            </div>

                <div class="my-shadow my-rounded-corner m-5">
                    <img src="../../assets/banner3.jpg" class="w-100" alt="baner img">
                    <button class="btn btn-light btn-lg btn-3" type="button" routerLink="/products">Shop Now</button>

              
                </div>

                    <div class=" my-shadow my-rounded-corner m-5">
                        <img src="../../assets/banner4.jpg" class="w-100" alt="baner img">
                        <button class="btn btn-primary btn-lg btn-4" type="button" routerLink="/products">Shop Now</button>

                  
                    </div>
                </div>
            </div>
        </div> -->